*{
}

body,html{
  	height: 100%;
  	margin:0px;
  	font-family:"Roboto";
	font-weight: 100;
	color: #FFF;
}

body{
	background-color: #000;
}

p{
	margin:0;
	left: 0px;
	color: #FFF;
}

.arrow,.arrowHover{
	margin-left:10px;
	height:10px;
	opacity:1;
}

.arrow{
	}
	
/* NOTE - I WAS TRYING TO FINALIZE A COLOR FILTER ON THE DOWN ARROW GRAPHIC WHEN THE USER HOVERS, BUT DIDN'T GET TO FINISH IT*/	
.arrowHover{
	-webkit-filter: hue-rotate(2deg);
	-webkit-filter: blur(1px);
	}	

	
	
.artistName{
	font-size: 24px;
	letter-spacing: .05em;
	text-transform: capitalize;
}

/* THE DIV CONTAINER FOR THE BACKGROUND IMAGE*/
.background{
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	background-attachment: fixed;
	background-image: url(images/image1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size:cover;
}


.buttonContainer,.button{
	height: 50px;
}

.button{
	border: 2px solid rgba(255, 255, 255, 0);
}

.buttonContainer{
	margin-top:20px;
	position: absolute;
	left:610px;
	width: 400px;
}

.button,.buttonHover,.buttonPress{
	display:inline-block;
	float:left;
	margin-right:10px;
	width: 40px;
	height:40px;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.2);
}

.buttonHover{
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px #FFF;
}

.buttonPress{
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px #FFF;
}

.channels{
	letter-spacing: .02em;
	margin-left: 20px;
	line-height: 50px;
	font-size: 17px;
}


/*  Temp   */
.channelCircle{
	display:inline-block;
	float:left;
	margin-top:-2px;
	margin-right:10px;
	height: 30px;
	width:30px;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.4);
	}
	
.channelNumber{
	margin-top:6px;
	font-size: 13px;
	text-align: center;
	}

.channelPicker{
	position: absolute;
	display: none;
	border: 1px black solid;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.7);;
	background-color: rgba(0,0,0,0.7);
	top:0;
	position:absolute;
	width:300px;
	height:100%;
	left:50px;
	}
	
.dialogLike{
	position: absolute;
	top:100px;
	position:absolute;
	width:50%;
	height:50%;
	left:25%;
	display: none;
	background-position: center center;
	background-repeat:no-repeat;
	background-image: url(images/like.png);
	background-size:10%;
	opacity: 50%;
}

.dialogDislike{
	position: absolute;
	top:100px;
	position:absolute;
	width:50%;
	height:50%;
	left:25%;
	display: none;
	background-position: center center;
	background-repeat:no-repeat;
	background-image: url(images/dislike.png);
	background-size:10%;
	opacity: 50%;
}

.fineTune{
	position:relative;
	left:30px;
	top:50px;
	}


/* CONTAINER DIV FOR ALL THE CONTENT*/
.fullscreen{
	width:100%;
	height:100%;
}

.labels{
	margin-top:17px;
	width: 110%;
	height: 11px;
}

.loading{
	position: absolute;
	border: 1px rgba(255, 255, 255, 0.3) solid;
	width: 60%;
	left: 20%;
	right: 20%;
	height: 15px;
	top: 75%;
	overflow:hidden;
}

.loadingFill{
	display: none;
	position: relative;
	width: 100%;
	margin: 0%;
	height:100%;
	background-color: rgba(255, 255, 255, 0.3);
}

/* HOTSPOT AREA TO THE RIGHT OF THE WINDOW THAT INVOKES THE HIDDEN SIDE MENU*/
.menu-hover{
	display:block;
	position:absolute;
	left:95%;
	width: 5%;
	height: 100%;
}

.menutext{
	letter-spacing: .02em;
	margin-left: 70px;
	line-height: 50px;
	font-size: 18px;
}

.overlay{
	position:absolute;
	display:none;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
	
.overlay2{
	position:absolute;
	display:none;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	}

.playhead,.playheadgraphic{
	height:30px;
}

.playhead{
	/*border: 1px solid red;*/
	position:absolute;
	top:150px;
	width:40px;
	left:100px;
}

/* Graphic for the playhead*/
.playheadgraphic{
	width:4px;
	margin-left:18px;
	background-color:#F00; /*#F00*/
}

/* OLD PRESET GRAPHIC*/
.preset{
	top:160px;
	position:absolute;
	width:1px;
	height:10px;
	left:100px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.4);
}


.optionsPicker{
	position: absolute;
	display: none;
	border: 1px black solid;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.7);;
	background-color: rgba(0,0,0,0.7);
	top:200px;
	position:absolute;
	width:300px;
	height:200px;
	left:760px;
}

.rainbow{
	height:5px;
	background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,50,50,1)),color-stop(14%,rgba(242,252,50,1)), color-stop(28%,rgba(61,255,50,1)), color-stop(43%,rgba(49,249,243,1)), color-stop(61%,rgba(49,53,249,1)), color-stop(83%,rgba(252,50,252,1)), color-stop(100%,rgba(252,0,4,1))); 
}

/* Invisible region for a ridge*/
.ridge{
	/*border: 1px solid white;*/
	width: 4px;
	float:left;
	padding:0px;
	display:inline-block;
	height: 100%;
}

/* 2 pixel graphic that sits inside the ridge hit area*/
.ridgegraphic{
	width:0px;
	margin-left:1px;
	height:40px;
	background-color:#FFF;
	color:#FFF;
	opacity:.3;
}

.side-menu {
	padding-top:40px;
	position:absolute;
	display:none;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=1 ); /* IE6-9 */
    width: 20%;
    left:80%;
    height: 100%;
}

.slacker_logo{
	position: absolute;
	width: 20%;
	top: 85%;
	left: 40%;
}

.splash{
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	background-attachment: fixed;
	background-image: url(images/splash_800.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size:cover;
}

.splashScreen{
	height:100%;
	width:100%;
}

.splash_logo{
	position: absolute;
	width: 16%;
	left: 42%;
	top: 20%;	
}

.splashTitle{
	display: inline-block;
	position:absolute;
	top: 45%;
	width: 99%;
	font-size: 70px;
	font-weight: 100;
	text-align: center;
	color:rgba(255, 255, 255, 0.9);
}

.splashSubTitle{
	display:inline-block;
	position:absolute;
	width: 100%;
	top: 55%;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	color:rgba(255, 255, 255, 0.6);
}
.siteTitle{
	font-size: 15px;
	color:rgba(255, 255, 255, 0.5);
	background-color: rgba(0,0,0,0.3);
	line-height: 40px;
	width: 300px;
	text-indent: 40px;
}

.songName{
	font-size:40px;
	text-transform: capitalize;
}

.station{
	display:inline-block;
	height:35;
}

.stationInfo,.songName,.artistName,.menutext,.firstMenuText,.stationlabels,.siteTitle{
}

.stationInfo,.buttonContainer{
	top:55%;
}

/* CONTAINER DIV FOR THE TUNER/TYPE REGION */
.stationInfo{
	display:block;
	position:absolute;
	width:900px;
	height:250px;
	left:50px;
}

.stationlabels{
	display:inline-block;
	float:left;
	padding-right:32px;
	font-size: 10px;
	text-transform: uppercase;
}

.stationName,.stationNameHover{
	font-size:18px;
	text-transform: capitalize;
	display:inline-block;
	float:left;
}

.stationName{
}

.stationNameHover{
	
}

.test{
	width:35px;
	height: 100%;
	display: inline-block;
	margin:0px;
	margin-left: 10px;
	background-image: url(images/arrow.png);
	background-size:cover;
}

.title{
	display:block;
	position:absolute;
	top:30px;
	left:50px;
}

.toast{
	margin-top:20px;
	font-size: 15px;
	letter-spacing: .1em;
	text-transform: uppercase;
	display:none;
	opacity:.6;
}

.triangle{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	margin-left: -2px;
	background-position: center 12px;
	background-size: 20%;
	background-repeat: no-repeat;
	background-image: url(images/triangle.png);
	opacity: .4;
}

.tuner{
	margin-top: 20px;
	width: 100%;
	height: 30px;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid rgba(255,255,255,.2);
	background-color: rgba(0,0,0,.4);
}

.tunerStrip{
	margin-top:0px;
	background: rgb(255,50,50); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,50,50,1) 0%, rgba(242,252,50,1) 14%, rgba(61,255,50,1) 28%, rgba(49,249,243,1) 43%, rgba(49,53,249,1) 61%, rgba(252,50,252,1) 83%, rgba(252,0,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,50,50,1)), color-stop(14%,rgba(242,252,50,1)), color-stop(28%,rgba(61,255,50,1)), color-stop(43%,rgba(49,249,243,1)), color-stop(61%,rgba(49,53,249,1)), color-stop(83%,rgba(252,50,252,1)), color-stop(100%,rgba(252,0,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#fc0004',GradientType=1 ); /* IE6-9 */
	width:100%;
	height:4px;
	width: 100%;
}


.volume{
	position: absolute;
	display: none;
	width: 45px;
	height:300px;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.2);
	
}

.volumeSlider{
	position: relative;
	height: 80%;
	width: 20%;
	top: 10%;
	left: 40%;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.5);
	
}


.volumeKnob{
	position: relative;
	height: 10px;
	width: 20%;
	top: -20%;
	left: 40%;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.9);
	
}


#pause,#skip,#like,#dislike,#add,#volume,#more{
	background-position: center center;
	background-repeat:no-repeat;
}

#pause{
	background-image: url(images/pause.png);
	background-size:40%;
}

#skip{
	background-image: url(images/skip.png);
	background-size:35%;
}

#like{
	background-image: url(images/like.png);
	background-size:45%;
}

#dislike{
	background-image: url(images/dislike.png);
	background-size:45%;
}

#add{
	background-image: url(images/add.png);
	background-size:45%;
}

#volume{
	background-image: url(images/volume.png);
	background-size:45%;
}

#more{
	background-image: url(images/options.png);
	background-size:45%;
}

