*{
	/*border: 1px red solid;*/
	letter-spacing: .1em;
}

body,html{
  	height: 100%;
  	margin:0px;
  	font-family: "Helvetica Neue", Roboto;
	font-weight: 100;
	color: #FFF;
}

.overlay{
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	background-size:cover;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.background{
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	background-attachment: fixed;
	background-image: url(images/image1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size:cover;
	/*filter: blur(10px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);*/
}

.side-menu {
	padding-top:100px;
	position:relative;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=1 ); /* IE6-9 */
    display: block;
    width: 300px;
    left: 300px;
    height: 100%;
}

.menu-hover{
	border:1px red solid;
	position:relative;
	float:right;
	display: block;
	overflow: hidden;
	width: 100px;
	height: 100%;
	top: 0px;
	left: 0px;
}

.fullscreen{
	width:100%;
	height:100%;
}

.title{
	display:block;
	position:absolute;
	top:30px;
	left:5%;
}

.stationInfo,.buttonContainer{
	top:55%;
}

/* Container for the station info and slider graphic*/
.stationInfo{
	display:block;
	position:absolute;
	width:900px;
	height:250px;
	left:50px;
}

.blackBox{
	top:53%;
	background: rgba(0,0,0,0.3);
	display:block;
	position:absolute;
	width:900px;
	height:250px;
	left:4%;
}

/* comment

/* RAINBOW TUNER AREA*/
.tuner{
	margin-top:20px;
	background: rgb(255,50,50); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,50,50,1) 0%, rgba(242,252,50,1) 14%, rgba(61,255,50,1) 28%, rgba(49,249,243,1) 43%, rgba(49,53,249,1) 61%, rgba(252,50,252,1) 83%, rgba(252,0,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,50,50,1)), color-stop(14%,rgba(242,252,50,1)), color-stop(28%,rgba(61,255,50,1)), color-stop(43%,rgba(49,249,243,1)), color-stop(61%,rgba(49,53,249,1)), color-stop(83%,rgba(252,50,252,1)), color-stop(100%,rgba(252,0,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,50,50,1) 0%,rgba(242,252,50,1) 14%,rgba(61,255,50,1) 28%,rgba(49,249,243,1) 43%,rgba(49,53,249,1) 61%,rgba(252,50,252,1) 83%,rgba(252,0,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#fc0004',GradientType=1 ); /* IE6-9 */
	width:100%;
	height:25px;
	overflow:hidden;
}


/* Invisible region for a ridge*/
.ridge{
	/*border: 1px solid white;*/
	width: 4px;
	float:left;
	padding:0px;
	display:inline-block;
	height: 100%;
}

/* 2 pixel graphic that sits inside the ridge hit area*/
.ridgegraphic{
	width:0px;
	margin-left:1px;
	height:40px;
	background-color:#FFF;
	color:#FFF;
	opacity:.3;
}

.playhead,.playheadgraphic{
	height:34px;
}

.playhead{
	/*border: 1px solid red;*/
	position:absolute;
	top:134px;
	width:40px;
	left:100px;
}

/* Graphic for the playhead*/
.playheadgraphic{
	width:4px;
	margin-left:18px;
	background-color:#Fff; /*#F00*/
}

.preset{
	top:144px;
	position:absolute;
	width:1px;
	height:15px;
	left:100px;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.4);
}

.rainbow{
	height:5px;
	background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,50,50,1)),color-stop(14%,rgba(242,252,50,1)), color-stop(28%,rgba(61,255,50,1)), color-stop(43%,rgba(49,249,243,1)), color-stop(61%,rgba(49,53,249,1)), color-stop(83%,rgba(252,50,252,1)), color-stop(100%,rgba(252,0,4,1))); 
}

.stationInfo,.songName,.artistName,.menutext,.firstMenuText,.stationlabels,.siteTitle{
	font-family: "Helvetica Neue", Roboto;
	font-weight: 100;
	color: #FFF;
}


.siteTitle{
	font-size: 15px;
	color:rgba(255, 255, 255, 0.5);
	background-color: rgba(0,0,0,0.3);
	line-height: 40px;
	width: 300px;
	text-indent: 40px;
}

.stationName{
	font-size:30px;
	letter-spacing: .05em;
	text-transform: capitalize;
}

.songName{
	letter-spacing: 0em;
	font-size:50px;
	text-transform: capitalize;
}

.artistName{
	font-size: 20px;
	letter-spacing: .05em;
	text-transform: capitalize;
}

.labels{
	margin-top:17px;
	width: 110%;
	height: 11px;
}

.menutext{
	letter-spacing: .02em;
	margin-left: 70px;
	line-height: 50px;
	font-size: 25px;
}

.buttonContainer,.button{
	height: 50px;
}

p{
	margin:0;
	left: 0px;
	color: #FFF;
}

.stationlabels{
	display:inline-block;
	float:left;
	padding-right:32px;
	font-size: 10px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.buttonContainer{
	opacity: .7;
	margin-top:20px;
	position: absolute;
	left:610px;
	width: 400px;
}

.button,.buttonHover,.buttonPress{
	display:inline-block;
	float:left;
	margin-right:10px;
	width: 60px;
	height:60px;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.7);
}

.button{
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.buttonHover{
	border: 1px solid rgba(255, 255, 255, 1);
}

.buttonPress{
	border: 1px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px #FFF;
}

.toast{
	margin-top:20px;
	font-size: 15px;
	letter-spacing: .1em;
	text-transform: uppercase;
	display:none;
	opacity:.6;
}

#pause,#skip,#like,#dislike,#add{
	background-position: center center;
	background-size:40%;
	background-repeat:no-repeat;
}

#pause{
	background-image: url(images/pause.png);
	background-size:50%;
}

#skip{
	background-image: url(images/skip.png);
}

#like{
	background-image: url(images/like.png);
}

#dislike{
	background-image: url(images/dislike.png);
}

#add{
	background-image: url(images/add.png);
	background-size:50%;
}